
# Project Overview

Tanzania, with a population of over 57 million, faces significant challenges in providing access to clean water, a fundamental need for its citizens. The country has numerous water points spread across its vast landscape, but many of these wells have deteriorated over time. Some are fully functional, others require repair, and some have failed completely. This project focuses on building a classifier to predict the condition of these water wells, leveraging various data points such as the type of pump used, installation dates, geographic location, and other relevant factors. The outcome of this model will be crucial for organizations like NGOs and the Tanzanian government to prioritize and allocate resources effectively, ensuring better water access for the population.

# Business Understanding

Ensuring the functionality of water wells is critical to providing safe and clean water to communities, particularly in a developing country like Tanzania. The failure of these water points can have severe consequences, leading to water scarcity, poor hygiene, and health issues. For stakeholders such as the Tanzanian government and NGOs, understanding the factors that contribute to the deterioration of wells can drive strategic decisions, such as where to allocate repair resources or how to design more durable wells in the future. This project aims to address this need by developing a predictive model that can classify the condition of wells, enabling these stakeholders to act proactively in maintaining water accessibility.

# Objectives

The overarching goal of this project is to develop a robust and accurate classification model that can predict the condition of water wells in Tanzania. This model will assist in identifying wells that are likely to fail, enabling stakeholders to take preventive measures. By understanding the key factors influencing well functionality, the project will also provide insights that can be used to improve the design and maintenance of future water points. Ultimately, this project seeks to contribute to a more reliable water supply infrastructure in Tanzania, improving the quality of life for its residents.

## Main Objectives

The main objectives of this project include:

1. Analyzing the data to identify the most significant factors contributing to the condition of the wells.
2. Building a predictive model that can classify water wells into one of three categories: functional, in need of repair, or non-functional.
3. Providing actionable insights and recommendations to stakeholders, such as NGOs and the Tanzanian government, to guide their efforts in maintaining and improving water well infrastructure.

## Specific Objectives

To achieve the main objectives, the project will focus on the following specific objectives:

1. Conducting exploratory data analysis (EDA) to uncover patterns and relationships within the data.
2. Developing and fine-tuning a machine learning model for classification to predict well conditions.
3. Evaluating the model's performance using appropriate metrics to ensure accuracy and reliability.
4. Interpreting the model's results to provide clear, actionable recommendations for stakeholders.

# Data Understanding

The dataset for this project comprises detailed information on water wells across Tanzania, including variables such as; the type of pump installed, the year of installation, and the geographic coordinates of each well. Additional features may include the depth of the well, the source of water, and the materials used in construction. Understanding the distribution of these features and their potential impact on well functionality is crucial for building an effective classification model.

#### Importing the necessary datasets

In [410]:
#Importing the necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

#### Loading the Datasets

In [411]:
#Import the necessary datasets
df_training_labels = pd.read_csv('Data\Training_Labels.csv', index_col= 0)
df_training_values = pd.read_csv('Data\Training_values.csv', index_col = 0)
df_test_values = pd.read_csv('Data\Test_set.csv', index_col = 0)

#### Inspecting the data

In [412]:
# Getting a preview of the first 5 rows of the training labels data
df_training_labels.head()

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional

In [413]:
# Getting a preview of the first 5 rows of the training values data
df_training_values.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,25.0,25/02/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,0.0,13/07/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

#### Merging the data

In [414]:
# merging the training values and training labels dataset
df_training_set = df_training_values.merge(df_training_labels, on = "id")

# Getting a preview of the first 5 rows of the merged data
df_training_set.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
34310,25.0,25/02/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
19728,0.0,13/07/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

#### Inspecting the merged data

In [415]:
# Getting a summary of the dataset
df_training_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59400 entries, 69572 to 26348
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   date_recorded          59400 non-null  object
 2   funder                 55763 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   longitude              59400 non-null  float64
 6   latitude               59400 non-null  float64
 7   wpt_name               59398 non-null  object
 8   num_private            59400 non-null  int64
 9   basin                  59400 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59400 non-null  object
 12  region_code            59400 non-null  int64
 13  district_code          59400 non-null  int64
 14  lga                    59400 non-null  object
 15  ward                   59400 non-null  object
 16  population             59400 non-null  int64
 17  public_meeting         56066 non-null  object
 18  recorded_by            59400 non-null  object
 19  scheme_management      55522 non-null  object
 20  scheme_name            30590 non-null  object
 21  permit                 56344 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quality_group          59400 non-null  object
 32  quantity               59400 non-null  object
 33  quantity_group         59400 non-null  object
 34  source                 59400 non-null  object
 35  source_type            59400 non-null  object
 36  source_class           59400 non-null  object
 37  waterpoint_type        59400 non-null  object
 38  waterpoint_type_group  59400 non-null  object
 39  status_group           59400 non-null  object
dtypes: float64(3), int64(6), object(31)
memory usage: 18.6+ MB

In [416]:
# Checking the shape of the dataset
df_training_set.shape

(59400, 40)

In [417]:
# Getting the statistics of numerical columns
df_training_set.describe()

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

# Data Cleaning

#### Dropping columns with information that is not relevant to prediction

In [418]:
# Identify columns with similar information
similar_columns = {
    'extraction_type': ['extraction_type_group', 'extraction_type_class'],
    'management': ['management_group'],
    'payment': ['payment_type'],
    'water_quality': ['quality_group'],
    'quantity': ['quantity_group'],
    'source': ['source_type', 'source_class'],
    'waterpoint_type': ['waterpoint_type_group']
}

# Drop the redundant columns, retaining only the first column of each group
columns_to_drop = [col for group in similar_columns.values() for col in group]
df_training_set = df_training_set.drop(columns=columns_to_drop)

# Dropping columns with information that is not relevant for prediction
df_training_set = df_training_set.drop(columns=['wpt_name','subvillage','num_private', 'recorded_by'])

# Display the shape of the resultant dataframe
df_training_set.shape

(59400, 27)

#### Handling Missing Data

In [419]:
# Checking for missing values
total_values = 59400
missing_values = df_training_set.isnull().sum()

# Getting the percentage of missing values in each column
missing_percentage = (missing_values/total_values)*100
missing_percentage

amount_tsh            0.000000
date_recorded         0.000000
funder                6.122896
gps_height            0.000000
installer             6.153199
longitude             0.000000
latitude              0.000000
basin                 0.000000
region                0.000000
region_code           0.000000
district_code         0.000000
lga                   0.000000
ward                  0.000000
population            0.000000
public_meeting        5.612795
scheme_management     6.528620
scheme_name          48.501684
permit                5.144781
construction_year     0.000000
extraction_type       0.000000
management            0.000000
payment               0.000000
water_quality         0.000000
quantity              0.000000
source                0.000000
waterpoint_type       0.000000
status_group          0.000000
dtype: float64

In [420]:
#Dropping columns where the percentange of missing values is more than 20
columns_to_drop = missing_percentage[missing_percentage > 20].index
df_training_set = df_training_set.drop(columns=columns_to_drop)

# Impute specific columns with 'Unknown'
df_training_set[['scheme_management', 'funder', 'installer']] = df_training_set[['scheme_management', 'funder', 'installer']].fillna('Unknown')

# Create imputers for numerical and categorical features
numerical_imputer = SimpleImputer(strategy='median')  # For numerical columns
categorical_imputer = SimpleImputer(strategy='most_frequent')  # For categorical columns

# Impute numerical features
df_training_set[['population']] = numerical_imputer.fit_transform(df_training_set[['population']])

# Impute categorical features
df_training_set[['permit', 'public_meeting']] = categorical_imputer.fit_transform(df_training_set[['permit', 'public_meeting']])

# Checking for missing values
df_training_set.isnull().sum()

amount_tsh           0
date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
region_code          0
district_code        0
lga                  0
ward                 0
population           0
public_meeting       0
scheme_management    0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

#### Checking for duplicates

In [421]:
# Identify duplicated index values
duplicated_index = df_training_set.index.duplicated()

# Display the rows with duplicated index values
duplicate_rows = df_training_set[duplicated_index]
duplicate_rows

Empty DataFrame
Columns: [amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, basin, region, region_code, district_code, lga, ward, population, public_meeting, scheme_management, permit, construction_year, extraction_type, management, payment, water_quality, quantity, source, waterpoint_type, status_group]
Index: []

[0 rows x 26 columns]

#### Converting Datatypes

In [422]:
# Checking data types
df_training_set.dtypes

amount_tsh           float64
date_recorded         object
funder                object
gps_height             int64
installer             object
longitude            float64
latitude             float64
basin                 object
region                object
region_code            int64
district_code          int64
lga                   object
ward                  object
population           float64
public_meeting        object
scheme_management     object
permit                object
construction_year      int64
extraction_type       object
management            object
payment               object
water_quality         object
quantity              object
source                object
waterpoint_type       object
status_group          object
dtype: object

In [423]:
# Fixing the datatypes
df_training_set['date_recorded'] = pd.to_datetime(df_training_set['date_recorded'], format='%d/%m/%Y')

#### Feature engineering
Creating a well_age column to show the age of the well

In [424]:
# Extract year from the 'date_recorded' column
df_training_set['year_recorded'] = pd.to_datetime(df_training_set['date_recorded']).dt.year

# Calculate the age of the well
df_training_set['well_age'] = df_training_set['year_recorded'] - df_training_set['construction_year']

#### Drop unnecessary columns

In [425]:
train_data = df_training_set.drop(['date_recorded'],axis = 1)

# Exploratory Data Analysis

Univariate analysis